@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        background-color: #f5f5f5; 
        color: #000000; 
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5f5; 
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #1e90ff; 
        text-align: center;
    }

    .lead {
        text-align: center;
    }

    .btn-primary {
        background-color: #1e90ff; 
        border-color: #1e90ff;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        display: block; 
        width: fit-content;
        margin: 10px auto; 
    }

        .btn-primary:hover {
            background-color: #187bcd; 
        }

    .text-center {
        text-align: center;
    }
</style>

<div class="container">
    <h1>Dobrodošli u eUcionicu!</h1>
    <p class="lead">Klikom na dugme ispod možete izabrati testove iz više oblasti radi unapređenja znanja.</p>
    <a class="btn-primary" href="/Studenti/Student">Testovi</a>
</div>

<div class="container">
    <p class="lead">Ukoliko želite da dodate zadatke, možete to da uradite klikom na dugme ispod teksta.</p>
    <a class="btn-primary" href="/Studenti/AddTask">Dodaj zadatak</a>
</div>

<div class="container">
    <p class="lead">Ukoliko želite da dodate testove, možete to da uradite klikom na dugme ispod teksta.</p>
    <a class="btn-primary" href="/Studenti/AddTest">Dodaj test</a>
</div>
